
.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #eeeeee;
	margin-top: 20px;
	padding-top: 20px;
}

.main-navigation-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 400px;
	height: 65px;
	
	list-style: none;
	text-decoration: none;
	
}



.header-second-page {
	background-color: #eeeeee;
	height: 355px;
	margin: 0px;
	padding: 0px;
}

.main-naviganion-item {
	text-decoration: none;
	font-size: 16pt;
	margin-right: 20px;
		color: black;
	display: block;
}

a .main-naviganion-item {
	font-family: 'Roboto', sans-serif;
	font: 'Roboto';
	color: black;
}

.main-naviganion-item:hover {
	color: #fb565a;
}

.main-naviganion-item:active {
	color: #cccccc;
}

body {
	font-family: 'Roboto', sans-serif;
	
	font-size: 16pt;
}

.basket-box {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.basket-box img{
	display: block;
	margin-right: 20px;
	padding: 0px;
	
	
}

.main-header-box {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

.main-baner {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.baner-h1 {
	font: "Roboto-medium";
	font-size: 40pt;
	width: 370px;
	margin-bottom: 20px;

	line-height: 40pt;
	
}

.baner-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.baner-left-side {
	width: 400px;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	margin-right: 20px;
	
	
	
}

.baner-item {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}

.baner-text {
	font-size: 16px;
}

.button {
	height: 50px;
	background-color: #fb565a;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16pt;
	color: white;
	border-radius: 2px;
}

.button-buner {
	width: 240px;
	margin-top: 40px;
}

.button-buner:hover{
	background-color: #e74246;
}

.button-buner:active{
	background-color: #d7373b;
	color: #e37376;
}

.container-shop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 80px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	
	
}

.our-services-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.visualy-hidden {
	display: none;
}

.our-services {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
	border-bottom: 2px solid #eeeeee;
}

.button-link {
	text-decoration: none;
}

.button-green {
	background-color: #00ca74;
}

.button-yellow {
	background-color: #efc84a;
}

.servis-item {
	font-size: 24pt;
	font-variant-caps: all-petite-caps;
}

.studio-promo {
		width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 80px;
	padding-top: 40px;
	border-bottom: 2px solid #eeeeee;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.promo {
	margin-right: 150px;
}

.studio-promo-h2 {
	font-size: 32pt;
}

.web-orders {
	font-size: 19pt;
	
	font-variant-caps: all-petite-caps;
}

.studio-text {
	font-size: 12pt;
}

.web-orders-list {
	list-style: none;
	margin: 0px;
	padding: 0px;
	
	
}

.web-orders-item {
  padding-left: 35px;
  background: url("../img/Rectangle%201.png") no-repeat left center;
}

.web-orders-conditions-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	width: 360px;
	margin: 0px;
	padding: 0px;
}

.conditions-numbers {
	font-size: 33pt;	
}

.web-orders-text {
	font-size: 12pt;
}

.customers {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
	padding-top: 20px;
	border-bottom: 2px solid #eeeeee;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
}

.customers{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	width: 1160px;
	
}

.customers-item {
	display: block;
	opacity: 0.5;
}

.customers-item:hover {

	opacity: 1;
}

.customers-item:active {

	opacity: 0.25;
}

.address {
	margin-left: 10%;
	width: 319px;
	height: 308px;
	background-color: white;
	color: black;
	position: relative;
	top: -570px;
	text-align: center;
	padding-top: 20px;
	
	}
	
.address p{
	text-align: left;
	padding-left: 50px;
	padding-right: auto;
	font-size: 14pt;
	color: #666666;
}

.main-footer {
	width: 100%;
	margin: 0px;
	padding: 0px;
}


}

.map-discription {
	text-align: center;
	padding-top: 50px;
}

.button-write-us {
	width: 219px;
	margin-left: auto;
	margin-right: auto;
}

.button-write-us:hover {
	background-color: #e74246;
}

.button-write-us:active {
	background-color: #d7373b;
	color: #e37376;
}

.social-block {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-right: 20px;
	margin-top: -500px;
	padding-bottom: -520px;
	
}

.social-button-list {
	display: flex;
	flex-direction: row;
	width: 300px;
	justify-content: space-between;
	list-style: none;
	height: 79px;
}

.social-button-list li{
margin-right: 20px;
	border-radius: 50%;
  background-color: #e1e1e1;
  background-image: url(../img/vk-icon.png) 30px 30px no-repeat;
  background-position: center;
  width: 79px;
  height: 79px;
}

.social-button {

}



.social-button-image {
	display: block;
	justify-content: center;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	
	}

.social-button-list li:hover {
background-color: #e74246;

}

.social-button-list li:active {
background-color: #d7373b;
color: #ffffff;
}

.lets-be-friends b{
	font-size: 30px;
	margin-top: 20px;
}

.lets-be-friends {
	margin-top: 20px;
}

.lets-be-friends p{
	font-size: 14px;
	margin-top: 5px;
	color: #444444;
}

.map-marker {
	position: relative;
	left: 57%;
	bottom: 320px;
}

.main-header-logo img:active {
	opacity: 0.5;
}



.button-red:hover {
		background-color: #e74246;
}
.button-red:activ {
		background-color: #d7373b;
	color: #e37376;
}

.button-green:hover {
		background-color: #00bc6c;
}
.button-green:activ {
		background-color: #00aa62;
	color: #4dc491;
}

.button-yellow:hover {
		background-color: #eab534;
}
.button-yellow:activ {
		background-color: #e5a722;
	color: #e5a722;
}


.header-herds-shop {
	text-align: center;
	vertical-align: middle;
	margin-top: 55px;
}

.navigaition-active {
	margin-top: 12px;
	padding-bottom:  10px;
	border-bottom: 2px solid #e37376;
}

.shop-filters {
	width: 260px;
}

.shop-items {
	width: 760px;
	margin: 0px;
	padding: 0px;
	
	
}

.filter-header {
	font-size: 18pt;
	font-variant-caps: all-petite-caps;
}

.range-slider {
	
	width: 210px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

.price-slide {
	display: flex;
	width: 260px;
	height: 80px;
	background-color: #f1f1f1;
	align-content: center;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 3px -3px #eeeeee;
	
}

.range-slider-value {
	width: 80px;
	height: 38px;
	background-color: #eeeeee;
	border: none;
	text-align: center;
	font-size: 16px;
	margin-left: 10px;
	border-radius: 3px;
}
	

.numbers-of-price{
	font-size: 16pt;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 260px;
	margin-bottom: 30px;
	
}



.price-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 30px;
	
}

.price-box label{
	font-size: 16pt;
	font-variant-caps: all-petite-caps;
	font-weight: 500;
}

.radio-grid-batton {
	margin-bottom: 15px;
	margin-right:  15px;
	
}



.submit {
	font-size: 16pt;
	width: 260px;
	height: 50px;
	background-color: #eeeeee;
	border: none;
	margin-top: 50px;
	margin-bottom: 50px;
	font-variant-caps: all-petite-caps;
}

input.speciality-checker+span{
	
	width: 31px;
	height: 31px;
	margin-bottom: -15px;
	margin-right: 15px;
	background: url(../img/checkbox-off.jpg) no-repeat left center;
	opacity: 0.5;
	 visibility:hidden;
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	
}

input[type="checkbox"]:checked{
    visibility:hidden;
}

input.speciality-checker:checked+span {
	background-position: 0 -32px;
}

.temlate-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}



.template-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 360px;
	height: 614px;
	margin-bottom: 40px;
}


.sedona-template {
	background-image: url(../img/img-sedona2.jpg);
}
.sedona-hover  {
	display: block;
  opacity: 0;
  width: 360px;
  height: 614px;
	
	}

.sedona-hover:hover {
  opacity: 100;
}
}


a.button-buy-template {
	
	width: 200px;
	height: 50px;
	top: 300px;
	left: 50px;
	text-decoration: none;
}

.button-bum {
	display: block;
	position: relative;
	width: 200px;
	height: 50px;
	top: -100px;
	left: 80px;
	z-index: 2;
	text-decoration: none;
	
}

.button-bum a{
	text-decoration: none;
}

.button-bum a:hover {
	background-color: #e74246;
}

.button-bum a:active {
	background-color: #d7373b;
	color: #ffffff;
}



.pink-template {
	background-image: url(../img/img-pink2.jpg);
}

.barbershop-template {
	background-image: url(../img/img-barbershop2.jpg);
}

.bear-template {
	background-image: url(../img/img-mishka.jpg);
}

.aplus-template {
	background-image: url(../img/img-aplus2.jpg);
}

.kvast-template {
	background-image: url(../img/img-kvast2.jpg);
}

.paginator {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 60px;
	
}

.page-namber {
 min-width: 50px;
	min-height: 50px;
	background-color: #eeeeee;
	color: black;
	text-align: center;
	margin-right: 10px;
	line-height:  50px;
	font-weight: 700;
	border-radius: 3px;
	border: 5px solid #eeeeee;
}

.page-next {
	width: 260px;
}

.page-namber-active {
background-color: white;

	
}

.specialty2 {
	width: 31px;
	height: 31px;
	line-height: 31px;
	font-size: 18px;
	display: block;
	background: url(../img/checkbox-off.jpg) no-repeat left center;
	position: relative;
}


.speciality-box {
	min-height: 300px;
}
